.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);

  &.small {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &.text {
    padding: 0;
    border-radius: calc(var(--border-radius) - 2px);

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  &.filled,
  &.outlined {
    border: 1px solid;
    border-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  &.filled {
    &.primary {
      color: white;
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-dark);
      }
    }

    &.grey {
      --color: var(--text-secondary);
      border-color: var(--color);
      color: white;
      background-color: var(--color);
    }

    &:disabled {
      color: var(--disabled);
      border-color: var(--disabled);
      background-color: var(--disabled);
    }
  }

  &.outlined {
    &.primary {
      border-color: var(--primary);
      color: var(--primary);

      &:hover:not(:disabled) {
        border-color: var(--primary);
        color: white;
        background-color: var(--primary);
      }
    }

    &.grey {
      --color: var(--text-secondary);
      border-color: var(--color);
      color: var(--color);

      &:hover:not(:disabled) {
        color: white;
        background-color: var(--color);
      }
    }

    &:disabled {
      color: var(--disabled);
      border-color: var(--disabled);
    }
  }
}
