.container {
  .month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: large;

    button {
      padding: 5px;
      color: var(--text-secondary);
    }
  }

  .weekdays,
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
  }

  .weekdays {
    padding-top: 10px;
    padding-bottom: 10px;

    .cell {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--text-tertiary);
      font-weight: 600;
      font-size: small;
    }
  }

  .dates .cell {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 30%;

    &.today:not(.selected) {
      background-color: rgba(0, 0, 0, 0.05)
    }

    &.selected {
      background-color: var(--primary);
      color: white;
    }

    &.diffMonth {
      color: var(--text-tertiary)
    }

    &:hover:not(.selected) {
      background-color: rgba(0, 0, 0, 0.04)
    }
  }
}